/**
 * Updating this file with Bootstrap changes:
 *
 * 1. Go to http://twitter.github.com/bootstrap/customize.html
 * 2. Un-toggle everything
 * 3. Check: 'Body type and links', 'Headings, body, etc', 'Code and pre'
 * 4. Download
 * 5. Remove margin property on body tag
 */
/* line 11, ../sass/editor-style.scss */
.clearfix {
  *zoom: 1;
}

/* line 15, ../sass/editor-style.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 20, ../sass/editor-style.scss */
.clearfix:after {
  clear: both;
}

/* line 23, ../sass/editor-style.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 30, ../sass/editor-style.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 38, ../sass/editor-style.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

/* line 45, ../sass/editor-style.scss */
a {
  color: #0088cc;
  text-decoration: none;
}

/* line 50, ../sass/editor-style.scss */
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

/* line 54, ../sass/editor-style.scss */
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 59, ../sass/editor-style.scss */
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 68, ../sass/editor-style.scss */
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/* line 73, ../sass/editor-style.scss */
p {
  margin: 0 0 10px;
}

/* line 76, ../sass/editor-style.scss */
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

/* line 82, ../sass/editor-style.scss */
small {
  font-size: 85%;
}

/* line 85, ../sass/editor-style.scss */
strong {
  font-weight: bold;
}

/* line 88, ../sass/editor-style.scss */
em {
  font-style: italic;
}

/* line 91, ../sass/editor-style.scss */
cite {
  font-style: normal;
}

/* line 94, ../sass/editor-style.scss */
.muted {
  color: #999999;
}

/* line 98, ../sass/editor-style.scss */
a.muted:hover,
a.muted:focus {
  color: #808080;
}

/* line 101, ../sass/editor-style.scss */
.text-warning {
  color: #c09853;
}

/* line 105, ../sass/editor-style.scss */
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}

/* line 108, ../sass/editor-style.scss */
.text-error {
  color: #b94a48;
}

/* line 112, ../sass/editor-style.scss */
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}

/* line 115, ../sass/editor-style.scss */
.text-info {
  color: #3a87ad;
}

/* line 119, ../sass/editor-style.scss */
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}

/* line 122, ../sass/editor-style.scss */
.text-success {
  color: #468847;
}

/* line 126, ../sass/editor-style.scss */
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}

/* line 129, ../sass/editor-style.scss */
.text-left {
  text-align: left;
}

/* line 132, ../sass/editor-style.scss */
.text-right {
  text-align: right;
}

/* line 135, ../sass/editor-style.scss */
.text-center {
  text-align: center;
}

/* line 143, ../sass/editor-style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 156, ../sass/editor-style.scss */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* line 163, ../sass/editor-style.scss */
h1,
h2,
h3 {
  line-height: 40px;
}

/* line 166, ../sass/editor-style.scss */
h1 {
  font-size: 38.5px;
}

/* line 169, ../sass/editor-style.scss */
h2 {
  font-size: 31.5px;
}

/* line 172, ../sass/editor-style.scss */
h3 {
  font-size: 24.5px;
}

/* line 175, ../sass/editor-style.scss */
h4 {
  font-size: 17.5px;
}

/* line 178, ../sass/editor-style.scss */
h5 {
  font-size: 14px;
}

/* line 181, ../sass/editor-style.scss */
h6 {
  font-size: 11.9px;
}

/* line 184, ../sass/editor-style.scss */
h1 small {
  font-size: 24.5px;
}

/* line 187, ../sass/editor-style.scss */
h2 small {
  font-size: 17.5px;
}

/* line 190, ../sass/editor-style.scss */
h3 small {
  font-size: 14px;
}

/* line 193, ../sass/editor-style.scss */
h4 small {
  font-size: 14px;
}

/* line 196, ../sass/editor-style.scss */
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

/* line 202, ../sass/editor-style.scss */
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

/* line 209, ../sass/editor-style.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 212, ../sass/editor-style.scss */
li {
  line-height: 20px;
}

/* line 216, ../sass/editor-style.scss */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 221, ../sass/editor-style.scss */
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}

/* line 226, ../sass/editor-style.scss */
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 235, ../sass/editor-style.scss */
dl {
  margin-bottom: 20px;
}

/* line 239, ../sass/editor-style.scss */
dt,
dd {
  line-height: 20px;
}

/* line 242, ../sass/editor-style.scss */
dt {
  font-weight: bold;
}

/* line 245, ../sass/editor-style.scss */
dd {
  margin-left: 10px;
}

/* line 248, ../sass/editor-style.scss */
.dl-horizontal {
  *zoom: 1;
}

/* line 252, ../sass/editor-style.scss */
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 257, ../sass/editor-style.scss */
.dl-horizontal:after {
  clear: both;
}

/* line 260, ../sass/editor-style.scss */
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 269, ../sass/editor-style.scss */
.dl-horizontal dd {
  margin-left: 180px;
}

/* line 272, ../sass/editor-style.scss */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

/* line 279, ../sass/editor-style.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 283, ../sass/editor-style.scss */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 287, ../sass/editor-style.scss */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

/* line 292, ../sass/editor-style.scss */
blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

/* line 298, ../sass/editor-style.scss */
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}

/* line 303, ../sass/editor-style.scss */
blockquote small:before {
  content: '\2014 \00A0';
}

/* line 306, ../sass/editor-style.scss */
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

/* line 314, ../sass/editor-style.scss */
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

/* line 317, ../sass/editor-style.scss */
blockquote.pull-right small:before {
  content: '';
}

/* line 320, ../sass/editor-style.scss */
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

/* line 326, ../sass/editor-style.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

/* line 329, ../sass/editor-style.scss */
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

/* line 336, ../sass/editor-style.scss */
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 345, ../sass/editor-style.scss */
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}

/* line 352, ../sass/editor-style.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 369, ../sass/editor-style.scss */
pre.prettyprint {
  margin-bottom: 20px;
}

/* line 372, ../sass/editor-style.scss */
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

/* line 380, ../sass/editor-style.scss */
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
